# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_summary_clean_csv_df = pd.read_csv("../WeatherPy/city_summary_clean.csv")
city_summary_clean_csv_df.head()

,Unnamed: 0,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
0,0,flin flon,CA,54.77,-101.86,61.90,91,61,4.34
1,1,vanimo,PG,-2.67,141.30,85.91,63,4,9.15
2,2,rikitea,PF,-23.12,-134.97,70.16,83,98,20.78
3,3,norman wells,CA,65.28,-126.83,59.00,62,20,5.82
4,4,namibe,AO,-15.20,12.15,61.95,90,59,2.59

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
    }
fig = gmaps.figure()

In [4]:
# Add the layer to the map
locations = city_summary_clean_csv_df[["Latitude", "Longitude"]]
humidity = city_summary_clean_csv_df["Humidity"].astype(float)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
city_summary_clean_csv_df

,Unnamed: 0,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
0,0,flin flon,CA,54.77,-101.86,61.90,91,61,4.34
1,1,vanimo,PG,-2.67,141.30,85.91,63,4,9.15
2,2,rikitea,PF,-23.12,-134.97,70.16,83,98,20.78
3,3,norman wells,CA,65.28,-126.83,59.00,62,20,5.82
4,4,namibe,AO,-15.20,12.15,61.95,90,59,2.59
...,...,...,...,...,...,...,...,...,...
535,536,zacatlan,MX,19.93,-97.97,56.16,88,93,4.32
536,537,fonte boa,BR,-2.50,-66.27,76.37,76,0,1.72
537,538,kloulklubed,PW,7.04,134.26,86.00,70,75,10.29
538,539,popondetta,PG,-8.75,148.25,86.13,58,14,7.11
539,540,ntcheu,MW,-14.82,34.64,63.55,65,29,8.25

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
perfect_spot_df = city_summary_clean_csv_df.loc[(city_summary_clean_csv_df["Temperature"] < 80) & (city_summary_clean_csv_df["Temperature"] > 70) & (city_summary_clean_csv_df["Wind Speed"] < 10) & (city_summary_clean_csv_df["Cloudiness"] == 0 )]
perfect_spot_df

,Unnamed: 0,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
22,22,mancio lima,BR,-7.61,-72.90,76.39,78,0,2.37
48,48,airai,TL,-8.93,125.41,78.96,32,0,3.85
88,88,sao joao da barra,BR,-21.64,-41.05,70.70,89,0,3.87
89,89,cuiluan,CN,47.72,128.65,73.35,33,0,5.91
95,95,suraabad,AZ,40.82,49.47,78.80,61,0,2.24
115,115,san quintin,MX,30.48,-115.95,74.84,76,0,8.93
188,188,hun,LY,29.13,15.95,77.25,43,0,2.24
210,210,samarai,PG,-10.62,150.67,77.54,72,0,8.12
239,239,shimanovsk,RU,52.00,127.70,72.12,39,0,6.62
248,248,ajdabiya,LY,30.76,20.23,72.50,69,0,5.70
250,250,santa cruz de tenerife,ES,28.47,-16.25,73.00,78,0,5.82
274,274,munxar,MT,36.03,14.23,75.99,94,0,1.12
286,286,gat,IL,31.61,34.76,75.99,11,0,3.85
289,289,krasnovka,RU,48.82,40.09,75.09,48,0,6.40
294,294,wadi musa,JO,30.32,35.48,74.57,36,0,1.10
332,332,sao gabriel da cachoeira,BR,-0.13,-67.09,75.90,76,0,1.70
400,400,alice springs,AU,-23.70,133.88,75.00,18,0,4.70
440,440,alta floresta,BR,-9.88,-56.09,73.81,34,0,1.66
458,458,asyut,EG,27.18,31.18,75.20,64,0,8.05
523,524,iki-burul,RU,45.82,44.65,77.00,33,0,4.47
536,537,fonte boa,BR,-2.50,-66.27,76.37,76,0,1.72

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = perfect_spot_df.copy()
hotel_df["Hotel Name"] = ""

params = {
    "radius": 5000,
    "types": "lodging",
    "key": gkey
}

for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]
 
    params["location"] = (f"{lat},{lng}")
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)

    # convert to json
    name_address = name_address.json()

    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

In [8]:
hotel_df

,Unnamed: 0,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Hotel Name
22,22,mancio lima,BR,-7.61,-72.90,76.39,78,0,2.37,Hotel e Distribuidora Voyage
48,48,airai,TL,-8.93,125.41,78.96,32,0,3.85,Juvinal Martin
88,88,sao joao da barra,BR,-21.64,-41.05,70.70,89,0,3.87,Pousada Porto De Canoas
89,89,cuiluan,CN,47.72,128.65,73.35,33,0,5.91,Shuncheng Hotel
95,95,suraabad,AZ,40.82,49.47,78.80,61,0,2.24,
115,115,san quintin,MX,30.48,-115.95,74.84,76,0,8.93,Old Mill Hotel
188,188,hun,LY,29.13,15.95,77.25,43,0,2.24,Alrwasi Hotel
210,210,samarai,PG,-10.62,150.67,77.54,72,0,8.12,Nuli Sapi
239,239,shimanovsk,RU,52.00,127.70,72.12,39,0,6.62,Гостиница Домашняя
248,248,ajdabiya,LY,30.76,20.23,72.50,69,0,5.70,فندق التوجان
250,250,santa cruz de tenerife,ES,28.47,-16.25,73.00,78,0,5.82,Hotel Silken Atlántida Santa Cruz
274,274,munxar,MT,36.03,14.23,75.99,94,0,1.12,Hotel Ta' Cenc & Spa
286,286,gat,IL,31.61,34.76,75.99,11,0,3.85,רגע בנחת
289,289,krasnovka,RU,48.82,40.09,75.09,48,0,6.40,
294,294,wadi musa,JO,30.32,35.48,74.57,36,0,1.10,Petra Palace Hotel
332,332,sao gabriel da cachoeira,BR,-0.13,-67.09,75.90,76,0,1.70,Alarne - Área De Lazer Do Alto Rio Negro
400,400,alice springs,AU,-23.70,133.88,75.00,18,0,4.70,Desert Palms Alice Springs
440,440,alta floresta,BR,-9.88,-56.09,73.81,34,0,1.66,Floresta Amazonica Hotel
458,458,asyut,EG,27.18,31.18,75.20,64,0,8.05,Florence Hotel Assiut
523,524,iki-burul,RU,45.82,44.65,77.00,33,0,4.47,
536,537,fonte boa,BR,-2.50,-66.27,76.37,76,0,1.72,

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
h_locations = hotel_df[["Latitude", "Longitude"]]

In [10]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(h_locations)
info_box_content = hotel_info

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))